//----------- utilities--------
@import "./utilities/function";
@import "./utilities/variable";
@import "./utilities/mixin";
//----------- boot strap--------
@import "./custome";
//----------- base--------
@import "./base/reset";
@import "./base/default";
@import "./base/typography";
@import "./base/class";
//----------- vendor--------
//----------- theme--------
//----------- layout--------
@import "./layout/header";
@import "./layout/story";
@import "./layout/slider";
@import "./layout/brands";
@import "./layout/scroll";
@import "./layout/supermarket";
@import "./layout/category";
@import "./layout/suggest";
@import "./layout/digiplus";
@import "./layout/digiclub";
@import "./layout/buy";
@import "./layout/mostsell";
@import "./layout/footer";
@import "./layout/phonenav";
//----------- components--------
//----------- page--------
@import "./page/home";
