.digiplus{
    &__content{
        @include responsive(tablet){
            border-radius: 0 !important;
        }
        &-image{
            @include responsive(tablet){
                position: static !important;
            }
        }
        &-col{
            @include responsive(tablet){
                width: 100%;
            }
        }
        &-pic{
            @include responsive(tablet){
                width: 50% !important;
            }
             @include responsive(phonel){
                width: 75% !important;
            }
        }
    }
}