.scroll{
    &__content{
        cursor: grab;
        @include responsive(tablet){
            border-radius: 0 !important;
        }
        &-slide{
            width: 16rem !important;
            height: 26rem !important;
            margin-left: 0.2rem;
        }
    }
}