.slider{
    max-height: 38rem;
    &__pagination{
        position: absolute;
        bottom: 3rem;
    }
    &__navigation{
        position: absolute;
        bottom: 3rem;
        right: 5rem;
        width: 9rem;
        height: 1rem;
        &-item{
            width: 3rem;
            height: 3rem;
             background-color: $white;
             color: $subtitle;
             border: 1px solid $subtitle;
             border-radius: 100%;
             @include responsive(tablet){
                display: none;
             }
             &::after{
                font-size: 1.5rem;
             }
        }
    }
    &__pic{
        @include responsive(tabletl){
            min-height: 240px;
            object-fit: cover;
            cursor: grab;
        }
    }
}