*{
    direction: rtl;
}
html{
    font-size: 62.5%;
    @include responsive(tabletl){
        font-size: 58.5%;
    }
    @include responsive(phonel){
        font-size: 50%;
    }
    @include responsive(phone){
        font-size: 43.75%;
    }
    @include responsive(tablet){
        font-size: 56.25%;
    }
}
:root{
    background-color: #fff;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    color: #101010;
    font-family: IranSansWeb ,"sans-serif";
}