// -------------------import font-------------------
@font-face{
    font-family:IranSansWeb ;
    font-style:normal ;
    font-weight: 500;
    src:url(../fonts/ttf/IRANSansX-Medium.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Medium.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Medium.eot?#iefix) format("eot");
}
@font-face{
    font-family:IranSansWeb ;
    font-style:normal ;
    font-weight: normal;
    src:url(../fonts/ttf/IRANSansX-Regular.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Regular.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Regular.eot) format("eot");
}
@font-face{
    font-family:IranSansWeb ;
    font-style:normal ;
    font-weight: bold;
    src:url(../fonts/ttf/IRANSansX-Bold.ttf) format("ttf"),
    url(../fonts/woff/IRANSansX-Bold.woff) format("woff"),
    url(../fonts/eot/IRANSansX-Bold.eot?#iefix) format("eot");
}